body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

#banner {
  height: 52px;
  position: relative;
}
svg {
  position: absolute;
}
polygon {
  opacity: 0.1;
}
polygon:hover
{
  opacity: 0.2;
  fill: #a33fa3;
}

